@import "tailwindcss";

@keyframes slideInFromRight {
  from { 
    transform: translateX(100%); 
    opacity: 0; 
  }
  to { 
    transform: translateX(0); 
    opacity: 1; 
  }
}
@keyframes slideInFromLeft {
  from { 
    transform: translateX(-100%); 
    opacity: 0; 
  }
  to { 
    transform: translateX(0); 
    opacity: 1; 
  }
}

.animate-slideInFromRight {
  animation: slideInFromRight 0.6s ease-out;
}
.animate-slideInFromLeft {
  animation: slideInFromLeft 0.6s ease-out;
}
